@use "@/features/chat/variables" as *;


.tour-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: auto;
   top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 218, 218, 0.6);
  z-index: 9999;
}

/* DARK LAYER */
.spotlight {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
  // background: rgba(0, 0, 0, 0.65);
  pointer-events: none;
}

/* TOOLTIP */
.tour-tooltip {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
  z-index: 10001;

  h3 {
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    margin: 8px 0 12px;
    color: #555;
  }
}

.tour-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    // background: #2563eb;
    background: linear-gradient(
      135deg,
      $primary-red 0%,
      darken($primary-red, 8%) 100%
    );
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
  }
}

/* Highlight element */
.tour-highlight {
  position: relative;
  z-index: 10000 !important;
}

/* Mobile */
@media (max-width: 768px) {
  .tour-tooltip {
    width: calc(100% - 32px);
  }
}

